body {
    font-size: 20px;
    font-family: monospace;
}

#container{
    margin : 20px auto;
    background-color: lightcyan;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    width:95px;
    height:195px;
    border : 5px solid greenyellow;
    text-align: center;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:300px;
    top:50px;
    color : greenyellow;
}

#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#image{  
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}

#image img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#options{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}

.option{
    display: inline-block;
    width : 220px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

.option:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}

#counter{
    font-size: 3em;
}

#backgroundTimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgreen;
    margin-left : 25px;
}

#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: red;
    margin-top : -10px;
    margin-left : 25px;
}

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}

.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}

#scoreContainer{
    margin : 20px auto;
    background-color: whitesmoke;
    opacity: 1.0;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer p{
    /*position: relative;*/
    display: initial;
    width: 59px;
    height: 59px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 90px;
    left: 320px;
    font-size: 0.75cm;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}

#resizedButton {
    background-color: black;
    color: white;
    position: absolute;
    top: 450px;
    left: 645px;
    width: 80px;
    height: 40px;
    padding: 1px;
}