/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  th,td{
    padding: 15px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(109, 13, 112);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: darkcyan;
    color: aliceblue;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  .btn-danger {
    transition-duration: 0.4s;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: rgb(233, 6, 6); /* Green */
    color: white;
    border: none;
  }
  .achha-button {background-color: rgb(126, 4, 105); 
    color: aliceblue;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
  .achha-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .achha-button2 {background-color: rgb(240, 224, 237); 
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
  .achha-button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(123, 197, 100);
  }
  .a{
    text-align: center;
    background-color: rgb(235, 238, 243);
    color: black;
  }
  .b:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(131, 14, 115, 0.575);
  }
  .c{
    font-style: normal;
    text-decoration-color: darkmagenta;
    font-size: small;
    font: icon;
  }
 