* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

#header {
    background-color: #cb202d;
    color: honeydew;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}

#header h1 {
    padding-left: 70px;
}

#form {
    background-image: url(https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    /*background-color: #39424e;*/
    color: seashell;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

#form h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid seashell;
    width: 645px;
    margin-left: auto;
    margin-right: auto;
}

#form h4 {
    font-size: large;
    padding-bottom: 5px;
}

.resizedTextBox1 {
    width: 644px;
    height: 25px;
    padding: 1px;
}

.resizedButton {
    width: 650px;
    height: 40px;
    padding: 1px;
    font-size : 120%;
    color: seashell;
    text-align: center;
    background-color: #cb202d;
    opacity: 0.8;
}

.resizedButton:hover {
    opacity: 1;
}

.splitPage {
    margin-top: 10vh;
    height: 100vh;
    width: 50vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

#menu {
    left: 0px;
    background-color: rgba(0, 0, 0, 1.0);
}

#menu h1 {
    color: seashell;
    padding-left: 2vw;
    margin-bottom: 15px;
}

#menu button {
    margin-left: 2vw;
    width: 200px;
    height: 170px;
    padding: 1px;
    text-align: center;
    font-size: large;
    background-color: #cb202d;
    color: seashell;
    margin-bottom: 5px;
}

#bill {
    background-color: skyblue;
    right: 0px;
}

#finalBill {
    text-align: center;
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: 500;
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    span {
        font-size: 1.25rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    span {
        font-size: 1.5rem;
    }
}