html,body{height:100%;margin:0;}
body{
    font-family:'Poppins',sans-serif;
    font-weight:400;
    line-height:1.4;
    color:white;
}
ul {
    background-color: #be3046;
    margin:0;
    padding:0;
    list-style-type: none;
    overflow:hidden;
    width:100%;
}
li {
    float:right;
    padding:20px;
}
li a {
    color:white;
    text-align:center;
    padding:1px;
    text-decoration: none;
    font-family:"Arial";
}
.first
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100%;
    height:100vh;
    background-color: #28292b;
}
h1,h2
{
    font-family:'Raleway',sans-serif;
    text-align:center;
    font-weight:700;
}
h1
{
    font-size:2.5rem;
    text-align:center;
}
h2
{
    font-size:2rem;
}
.first > p {
    font-size:1.5rem;
    font-weight:50;
    color:#be3046;
    font-style:italic;
    text-align: center;
}

.second{

    text-align:center;
    background-color:#266d97;
    padding:160px 32px;
    width:100%;
}

.secondheader
{
    max-width:650px;
    margin:0 auto 50px auto;
    border-bottom: 1px solid white;
}

.projects
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    grid-gap:64px;
    max-width:1300px;
    margin:0 auto;
    margin-bottom:96px;
}

.words
{
    background:#1a1a1a;
    border-radius:0.5px;
    margin:0 auto;
    width:75;
    text-decoration: none;
}
img{
    display:block;
    width:100%;
}
.secondimage
{
    object-fit:cover;
    width:100%;
    height:-87%;
}

.caption
{
    color:white;
    text-align:center;
    padding:0.5rem 0.1rem;
    font-size:2rem;
}
.button 
{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:2px;
}
.showall{
    color:white;
    text-align: center;
    background-color: #1a1a1a;
    border-radius:1px;
    font-size:1.5rem;
    text-decoration: none;
}

.third
{
    background-color:#1b1c31;
    font-family:'Raleway',sans-serif;
    padding:50px 10px;
    width:100%;
}
.survey
{
    display:flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.third > p {
    font-size:1.5rem;
    font-weight:200;
    color:white;
    font-style:italic;
}
.form
{
    margin: 0 auto 1.25rem auto;
    padding:0.25rem;
    font-family:'Poppins',sans-serif;
}
.label
{
    display:flex;
    align-items:center;
    font-size:1.5rem;
    margin-bottom:1rem;

}
.layout
{
    display:flex;
    align-items:flex-end;
    width:100%;
    height:58px;
    padding:6px 6px;
    color:#d6d9dc;
    border:1px solid  #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    width:700px;
    margin:2px;

}
.inputcheckbox
{
    display: inline-block;
    margin-right:6px;
    min-width: 16px;
    min-height:16px;
}
.inputtextarea
{
    width:100%;
    min-height:130px;
    padding:10px;
    box-sizing: border-box;
    width:600px;
}
input,button,select,textarea
{
    margin:0;
    font-family:inherit;
    font-weight:inherit;
    line-height: inherit;
}
.inputsubmit
{
    display:block;
    background-color: #009900;
    color:white;
    text-align:center;
    cursor: pointer;
    padding:12px;
    box-sizing: border-box;
    width:700px;
}
.brackets
{
    margin-left:4px;
    color:#e6e6e6;    
}
option{
    padding:2px;
    text-align:center;
}
.fourth
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    align-items: center;
    width:100%;
    height:95vh;
    line-height: 0.6;
    background-color: #28292b;
    padding:0 1.5rem;
}
.thirdheader > p 
{
    font-style:italic;
    font-size:1.3rem;
    font-weight:1;
}
.thirdheader > h2
{
   font-size:4rem;
   font-weight:700;
}
.sponsors
{
    display:flex;
    justify-content: center;
    max-width:1000px;
    margin-top:64px;
    flex-wrap: wrap;
}
.sponsors2
{
    font-size:20px;
    text-decoration: none;
    color:white;
    margin: 0 auto;
}
footer{
    display:flex;
    justify-content: space-evenly;
    font-weight:250;
    padding:20px;
    background-color: #28292b;
    border-top:2px solid #be3046;
}
footer > p{
    margin:35px;
}







